html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
#sliders {
    position: relative;
    top: -95%;
    left: 5%;
    width: 20%;
}
.slider {
    margin-top: 50px;
}